* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

header {
  background-color: gray;
  padding: 2rem 0.5rem;
}


.btn-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}


.card-section {
    display: flex;
    justify-content: center;
}

.card {
  padding: 1rem;
  width: 80%;
  margin-top: 2rem;
  
}